// base color palette

$color__black: #303030;
$color__grey-light: #C4C4C4;
$color__grey-dark: #5D5D5D;
$color__white: #FFFFFF;
$color__pink-dark: #F22E76;
$color__pink-normal: #F24B78;
$color__pink-light: #F2798F;
$color__green: #1bc71b;
$color__orange: orange;
$color__blue: #1ecbff;